<div class="about col-md-5">
  <div class="row aboutbox">
    {{#if collabDescription}}
        <h3>{{collabTitle}}</h3>
        <p>{{#if collabLogo}}<img src="/img/logos/{{collabLogo}}" class="collab-logo">{{/if}}{{{md collabDescription}}}</p>
    {{else}}
        <h3>About</h3>
        <p>This registry exists to help people discover and share datasets that are available via AWS resources. <a href="https://opendata.aws">Learn more about sharing data on AWS</a>.</p>

        {{#if tag}}
        <p>See <a href="/tag/{{tagURL}}/usage-examples">all usage examples for datasets listed in this registry</a> tagged with <strong>{{tag}}</strong>.</p>
        {{else}}
        <p>See <a href="/usage-examples">all usage examples for datasets listed in this registry</a>.</p>
        {{#if collabData}}
        <p>See datasets from {{#each collabData}}{{#unless @first}}{{#if @last}}, and {{else}}, {{/if}}{{/unless}}<a href="/collab/{{slug}}/">{{title}}</a>{{/each}}.
        </p>
        {{/if}}
        {{/if}}
    {{/if}}

    <hr>

    <h4>Search datasets (currently <span id="count-matching">13</span> matching <span id="count-matching-text">datasets</span>)</h4>
    <form>
      <div class="form-group">
        <input type="text" id="search-box" class="form-control" placeholder="Search datasets" spellcheck="false" autocorrect="off">
      </div>
    </form>
    {{#if tag}}<p>You are currently viewing a subset of data tagged with <strong>{{tag}}</strong>.</p>{{/if}}

    <hr>

    <h4>Add to this registry</h4>
    <p>If you want to add a dataset or example of how to use a dataset to this registry, please follow the instructions on the <a href="https://github.com/awslabs/open-data-registry/">Registry of Open Data on AWS GitHub repository</a>.</p>

    <p>Unless specifically stated in the applicable dataset documentation, datasets available through the Registry of Open Data on AWS are not provided and maintained by AWS. Datasets are provided and maintained by a variety of third parties under a variety of licenses. Please check dataset licenses and related documentation to determine if a dataset may be used for your application.</p>
  </div>
</div>
