<li>
  <a href="{{URL}}" class="{{#isAWSURL URL}}aws-link{{/isAWSURL}}" target="_none">{{Title}}</a> by {{#if AuthorURL}}<a href="{{AuthorURL}}" target="_none">{{AuthorName}}</a>{{else}}{{AuthorName}}{{/if}}</a>
  <br>
  {{#if NotebookURL}}{{{toSMSL NotebookURL Services}}}{{/if}}
  {{#each Services}}{{#isEqual . 'SageMaker Studio Lab'}}{{else}}<span class="label label-info tag service-tag">{{.}}</span>{{/isEqual}}{{/each}}
</li>