<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#if isHome}}<meta name="google-site-verification" content="d3RoBpynB-G21xjnmrqTE7iJfzqgS6DugRe7B6yUVb8" />{{/if}}

  {{#if redirect}}<meta http-equiv="Refresh" content="0; url={{redirect}}" />{{/if}}

  <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
  
  <link rel="shortcut icon" type="image/ico" href="https://a0.awsstatic.com/libra-css/images/site/fav/favicon.ico"/>
  <link rel="apple-touch-icon" sizes="57x57" href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-iphone-114-smile.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-ipad-144-smile.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-iphone-114-smile.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-ipad-144-smile.png"/>  

  <title>{{#if isDetail}}{{Name}} - {{/if}}Registry of Open Data on AWS</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://assets.opendata.aws/css/bootstrap/3.4.1/bootstrap.min.css">

  <!-- Our local CSS -->
  <link rel="stylesheet" href="/css/main.css">

  {{#if isDetail}}
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Dataset",
    "name" : "{{Name}}",
    "description" : "{{{md Description true}}}",
    "license" : "{{{md License true}}}"{{#if ManagedBy}},
    "sourceOrganization" : "{{{md ManagedBy true}}}"{{/if}}
  }
  </script>
  {{/if}}

</head>
<body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://assets.opendata.aws/js/jquery/3.5.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://assets.opendata.aws/js/bootstrap/3.4.1/bootstrap.min.js"></script>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="roda-header">
        {{#if isHome}}<h1>{{else}}<h2><a href="/" alt="Home">{{/if}}Registry of Open Data on AWS{{#if isHome}}</h1>{{else}}</a></h2>{{/if}}
        <a href="http://aws.amazon.com/what-is-cloud-computing">
          <img src="https://assets.opendata.aws/img/AWS-Logo_White-Color_300x180.png" alt="Powered by AWS Cloud Computing" id="aws_header_logo">
        </a>
      </div>
    </div>
  </nav>
  <div class="container" {{#if isDataAtWork}}id="dataatwork"{{/if}}>
