<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#if isHome}}<meta name="google-site-verification" content="d3RoBpynB-G21xjnmrqTE7iJfzqgS6DugRe7B6yUVb8" />{{/if}}

  {{#if redirect}}<meta http-equiv="Refresh" content="0; url={{redirect}}" />{{/if}}

  <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
  
  <link rel="shortcut icon" type="image/ico" href="https://a0.awsstatic.com/libra-css/images/site/fav/favicon.ico"/>
  <link rel="apple-touch-icon" sizes="57x57" href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-iphone-114-smile.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-ipad-144-smile.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-iphone-114-smile.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="https://a0.awsstatic.com/libra-css/images/site/touch-icon-ipad-144-smile.png"/>  

  <title>{{#if isDetail}}{{Name}} - {{/if}}Registry of Open Data on AWS</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://assets.opendata.aws/css/bootstrap/3.4.1/bootstrap.min.css">

  <!-- Our local CSS -->
  <link rel="stylesheet" href="/css/main.css">

  {{#if isDetail}}
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Dataset",
    "name" : "{{Name}}",
    "description" : "{{{md Description true}}}",
    "license" : "{{{md License true}}}"{{#if ManagedBy}},
    "sourceOrganization" : "{{{md ManagedBy true}}}"{{/if}}
  }
  </script>
  {{/if}}

</head>
<body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://assets.opendata.aws/js/jquery/3.5.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://assets.opendata.aws/js/bootstrap/3.4.1/bootstrap.min.js"></script>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="roda-header">
        {{#if isHome}}<h1>{{else}}<h2><a href="/" alt="Home">{{/if}}Registry of Open Data on AWS{{#if isHome}}</h1>{{else}}</a></h2>{{/if}}
        <a href="http://aws.amazon.com/what-is-cloud-computing">
          <img src="https://assets.opendata.aws/img/AWS-Logo_White-Color_300x180.png" alt="Powered by AWS Cloud Computing" id="aws_header_logo">
        </a>
      </div>
    </div>
  </nav>
  <div id="adx-banner">
    <div class="adx-banner-container">
      <img src="/img/info.svg" class="icon-info">
      <div class="adx-banner-text">
        <b>The Registry of Open Data on AWS is now available on AWS Data Exchange</b>
        <div>
          <span>All datasets on the Registry of Open Data are now discoverable on AWS Data Exchange alongside 3,000+ existing data products from category-leading data providers across industries. Explore the catalog to find open, free, and commercial data sets.</span>
          <a href="https://docs.aws.amazon.com/data-exchange/" target="_blank">Learn more about AWS Data Exchange <img src="/img/external.svg" class="icon" /></a>
        </div>
      </div>
    </div>
    <div class="adx-banner-container">
      <button class="adx-banner-button" onclick="window.open('https://aws.amazon.com/marketplace/search/results?FULFILLMENT_OPTION_TYPE=DATA_EXCHANGE&CONTRACT_TYPE=OPEN_DATA_LICENSES&filters=FULFILLMENT_OPTION_TYPE%2CCONTRACT_TYPE&trk=8384929b-0eb1-4af3-8996-07aa409646bc&sc_channel=el', '_blank')">
        Explore the catalog
        <img src="/img/external_black.svg" class="icon">
      </button>
      <div class="adx-close-button"><img src="/img/close.svg" class="icon"></div>
    </div>
  </div>
  <div id="spacer"></div>
  <!-- JavaScript for ADX banner -->
  <script src="/js/banner.js"></script>  
  <div class="container" {{#if isDataAtWork}}id="dataatwork"{{/if}}>
