{{> header isDetail=true}}
<div class="container">
  <div class="row">
    <h1>{{Name}}</h1>
    <p>{{#each Tags}}
    <span class="label label-default tag">{{.}}</span>
  {{/each}}</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <dl>
          <dt>Description</dt>
          <dd>{{Description}}</dd>
          <dt>Update Frequency</dt>
          <dd>{{UpdateFrequency}}</dd>
          <dt>License</dt>
          <dd>{{{md License}}}</dd>
          <dt>Documentation</dt>
          <dd><a href="{{Documentation}}" target="_none">{{Documentation}}</a></dd>
          <dt>Contact</dt>
          <dd><a href="{{Contact}}" target="_none">{{Contact}}</a></dd>
        </dl>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
    <h3>Resources on AWS</h3>
    {{#each Resources}}
    <dl class="resource-list">
      <dt>Resource type</dt>
      <dd class="{{{toType Type}}}">{{Type}}</dd>
      <dt>Description</dt>
      <dd>{{Description}}</dd>
      {{#if ARN}}
        <dt>Amazon Resource Name (ARN)</dt>
        <dd><code>{{ARN}}</code></dd>
      {{/if}}
      {{#if Host}}
        <dt>Hostname</dt>
        <dd><code>{{Host}}</code></dd>
      {{/if}}
      <dt>AWS Region</dt>
      <dd><code>{{Region}}</code></dd>
    </dl>
    {{/each}}
  </div>
  </div>

{{> footer isDetail=true}}