{{> header showHome=true}}
<div class="container">
  <h2>{{Name}}</h2>
  <p>{{#each Tags}}
    <span class="label label-info tag">{{.}}</span>
  {{/each}}</p>
  <p><strong>{{Description}}</strong></p>
  <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <em>{{UpdateFrequency}}</em></p>
  <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{License}}</p>
  <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span> <a href="{{Documentation}}" target="_none">{{Documentation}}</a>
  <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="{{Contact}}" target="_none">{{Contact}}</a>
  <h3>Resources</h3>
  <table class="table table-bordered">
    <tr>
      <th>Description</td>
      <th>ARN</td>
      <th>Region</td>
      <th>Type</td>
    </tr>
    {{#each Resources}}
    <tr>
      <td>{{Description}}</td>
      <td>{{ARN}}</td>
      <td>{{Region}}</td>
      <td>{{Type}}</td>
    </tr>
    {{/each}}
  </table>
</div>
{{> footer}}