{{> header isDetail=true}}
<div class="container">
  <div class="row">
    <h1>{{Name}}</h1>
    <p>{{#each Tags}}
    <span class="label label-info tag link-tag">{{.}}</span>
  {{/each}}</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <dl class="dataset-description">
          <dt>Description</dt>
          <dd>{{Description}}</dd>
          <dt>Update Frequency</dt>
          <dd>{{UpdateFrequency}}</dd>
          <dt>License</dt>
          <dd>{{{md License}}}</dd>
          <dt>Documentation</dt>
          <dd><a href="{{Documentation}}" target="_none">{{Documentation}}</a></dd>
          <dt>Contact</dt>
          <dd><a href="{{Contact}}" target="_none">{{Contact}}</a></dd>
        </dl>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
    <h3>Resources on AWS</h3>

    <ul class="resource-list">
    {{#each Resources}}
      <li>
        <dl class="resource-list">
          <dt class="resource-description">Description</dt>
          <dd class="resource-description">{{Description}}</dd>
          <dt class="resource-type">Resource type</dt>
          <dd class="resource-type {{{toType Type}}}">{{Type}}</dd>
          {{#if ARN}}
          <dt class="resource-arn">Amazon Resource Name (ARN)</dt>
          <dd><code>{{ARN}}</code></dd>
          {{/if}}
          {{#if Host}}
          <dt class="resource-host">Hostname</dt>
          <dd><code>{{Host}}</code></dd>
          {{/if}}
          <dt class="resource-region">AWS Region</dt>
          <dd><code>{{Region}}</code></dd>
        </dl>
      </li>
    {{/each}}
    </ul>
  </div>
  </div>

{{> footer isDetail=true}}

<script>
  // Listen for clicks on the tags and send to main page if clicked
  $('.tag').click(function () {
    window.location.href = "/?search=" + $(this).text();
  });
</script>