<!DOCTYPE html>
<html lang="en">
  {{> header}}
    <div class="row overview">
      <h1>Registry of Open Data on AWS</h1>
      <input type="search" id="search-box" placeholder="Search Datasets" autocomplete="on"></input>
      {{#each datasets}}
    </div>
    <div class="row">
      <div id="{{Slug}}" class="dataset">
        <h3><a href="{{Slug}}.html">{{Name}}</a></h3>
        <p>{{Description}}</p>
        <p>{{#each Tags}}<span class="label label-info tag">{{.}}</span>{{/each}}
      </div>
      {{/each}}
    </div>

    {{> footer}}

    <script>
      // Get datasets object
      var datasets = {{toJSON datasets}};

      // Listen for changes in search box and filter based
      // on input
      $("#search-box").on('input', function() {
        var searchText = $(this).val();
        // Loop over each item and hide non-matching
        $(".dataset").each(function() {
          if (isMatch($(this).attr('id'), searchText)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });

      // Helper function to see if dataset has some match
      var isMatch = function(slug, text) {
        // Lowercase search text
        text = text.toLowerCase();
        // Find matching dataset
        var dataset;
        for (var i = 0; i < datasets.length; i++) {
          if (datasets[i].Slug === slug) {
            dataset = datasets[i];
            break;
          }
        }

        // Check dataset name
        if (dataset.Name.toLowerCase().indexOf(text) !== -1) {
          return true;
        }

        // Check dataset tags
        for (var i = 0; i < dataset.Tags.length; i++) {
          if (dataset.Tags[i].toLowerCase().indexOf(text) !== -1) {
            return true;
          }
        }

        // Check dataset description
        if (dataset.Description.toLowerCase().indexOf(text) !== -1) {
          return true;
        }

        // If we're here, no match
        return false;
      };

      // Listen for clicks on the tags and fill in search box if clicked
      $('.tag').click(function () {
        $("#search-box").val($(this).text());
        $('#search-box').trigger('input');
      });

    </script>
  </body>
</html>