<!DOCTYPE html>
<html lang="en">
  {{> header isHome=isHome}}

    {{> about collabTitle=collabTitle collabDescription=collabDescription collabLogo=collabLogo collabData=collabData}}
    <div class="col-md-6 col-md-offset-1 datasets">
      <div class="row">
      {{#each datasets}}
        <div id="{{Slug}}" class="dataset">
          <h3><a href="/{{Slug}}/">{{Name}}</a></h3>
          <p>{{#each Tags}}{{#isEqual . 'aws-pds'}}{{else}}<span class="label label-info{{#isEqual . 'sustainability'}}-sustainability{{else}}{{/isEqual}} tag link-tag">{{.}}</span>{{/isEqual}}{{/each}}</p>
          <p>{{{trimHTML (md Description) 600}}}</p>
          <p><a href="/{{Slug}}/">Details &rarr;</a></p>
          {{#if DataAtWork}}
          <h4>Usage examples</h4>
          <ul class="dataatwork-list">
          {{#pickRandom DataAtWork 5}}
          <li>
            <a href="{{URL}}" class="{{#isAWSURL URL}}aws-link{{/isAWSURL}}" target="_none">{{Title}}</a> by {{#if AuthorURL}}<a href="{{AuthorURL}}" target="_none">{{AuthorName}}</a>{{else}}{{AuthorName}}{{/if}}</li></a>
          </li>
          {{/pickRandom}}
        </ul>
        <p><a href="/{{Slug}}/#usageexamples">See {{examplesCount}} usage example{{#checkLength DataAtWork 1}}s{{/checkLength}} &rarr;</a></p>
        {{/if}}
        </div>
        {{/each}}
      </div>
    </div>


  {{> footer}}
  </body>
  <script src="/js/index.js"></script>
</html>
