<!DOCTYPE html>
<html lang="en">
  {{> header isHome=isHome}}

    {{> about collabTitle=collabTitle collabDescription=collabDescription collabLogo=collabLogo collabData=collabData}}
    <div class="col-md-6 col-md-offset-1 datasets">
      <div class="row">
      {{#each datasets}}
        <article id="{{Slug}}" class="dataset hover-lift fade-in">
          <header class="dataset-header">
            <h3><a href="/{{Slug}}/" aria-label="View details for {{Name}}">{{Name}}</a></h3>
            <div class="dataset-tags">
              {{#each Tags}}{{#isEqual . 'aws-pds'}}{{else}}<span class="label label-info{{#isEqual . 'sustainability'}}-sustainability{{else}}{{/isEqual}} tag link-tag" role="button" tabindex="0">{{.}}</span>{{/isEqual}}{{/each}}
            </div>
          </header>
          <div class="dataset-content">
            <p class="dataset-description">{{{trimHTML (md Description) 600}}}</p>
          </div>
          <footer class="dataset-actions">
            <a href="/{{Slug}}/" class="btn btn-primary">View Details</a>
            {{#if DataAtWork}}
            <div class="dataset-examples mt-3">
              <h4 class="text-sm">Usage Examples</h4>
              <ul class="dataatwork-list">
              {{#pickRandom DataAtWork 3}}
              <li>
                <a href="{{URL}}" class="{{#isAWSURL URL}}aws-link{{/isAWSURL}}" target="_blank" rel="noopener">{{Title}}</a>
                <span class="text-muted text-sm">by {{#if AuthorURL}}<a href="{{AuthorURL}}" target="_blank" rel="noopener">{{AuthorName}}</a>{{else}}{{AuthorName}}{{/if}}</span>
              </li>
              {{/pickRandom}}
              </ul>
              <a href="/{{Slug}}/#usageexamples" class="btn btn-secondary btn-sm mt-2">See All {{examplesCount}} Example{{#checkLength DataAtWork 1}}s{{/checkLength}}</a>
            </div>
            {{/if}}
          </footer>
        </article>
        {{/each}}
      </div>
    </div>


  {{> footer}}
  </body>
  <script src="/js/index.js"></script>
</html>
